doctype xml
rss(version='2.0' xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    atom:link(href=link rel='self' type='application/rss+xml')
    title Tweet2RSS
    link= link
    description Twitter in the RSS format
    each status in statuses
      item
        link= 'https://twitter.com/' + status.user.screen_name + '/status/' + status.id_str
        guid= 'https://twitter.com/' + status.user.screen_name + '/status/' + status.id_str
        description= status.text
